#product-display {
    display: grid;
    height: 70vh;
    font-size: 1.25rem;
    font-weight: 600;
    grid-gap: 15px;
    margin-top:15px;
    grid-template-areas:
        'title title'
        'img desc'
        'img date'
        'img city'
        'img price'
        'img amount'
        'img buttons';
    grid-template-columns: minmax(500px, 1fr) 240px;
    grid-template-rows: 3rem 7rem repeat(3, 3rem) 10rem 5rem;
    white-space: pre-line;
}

.grid-title {
    grid-area: title;
    border-bottom: 1px solid darkgray;
}

.grid-img {
    grid-area: img;
}

.grid-desc {
    grid-area: desc;

}

.grid-date {
    grid-area: date;
}

.grid-amount {
    grid-area: amount;
}

.grid-price {
    grid-area: price;
}

.grid-buttons {
    grid-area: buttons;
    display: flex;
    list-style:none;
    text-align:center;
    align-content:start;
    vertical-align:middle;
}
.grid-buttons li{
    line-height:1rem;
}

.icon-btn{
    margin-left:50px;
    color:gray;
}
.favourite{
    color:red;
}

.grid-city {
    grid-area: city;
}

#product-display img {
    width:500px;
    height:500px;
    border-radius: 1.5rem;
    box-shadow: rgba(0,0,0,0.45) 0px 5px 5px 0px;
}
#product-display p{
    padding:0px;
}

#buy-amount {
    width: 40px;
}

.reviews-container {
    display: block;
    min-height:400px;
    max-width: 100%;
    min-width:600px;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1.25rem;
    margin: 1rem 0 1rem 0;
    background-color: whitesmoke;
    border: 1px solid black;
    overflow: scroll;
    scroll-behavior: smooth;
}

.review {
    display: inline-block;
    width: 90%;
    min-height: 200px;
    margin: 1.25rem;
    padding:1.25rem;
    font-size: 1.25rem;
    background-color: azure;
    border: 1px solid black;
    border-radius: 1rem;
    text-decoration: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

    .review:hover {
        box-shadow: 0 16px 12px 0 rgba(0,0,0,0.4);
    }

    .review img {
        width: 100px;
        height: 100px;
        border-radius: 1rem;
        margin-top:10px;
    }
    .review p{
        margin:10px 0px 10px 10px;
    }
