main{
    display:flex;
    flex-direction:column;
    padding:50px;
    align-content:center;
    min-height:800px;
}

main h1{
    margin-left:20px;
    margin-bottom:20px;
}
.orders-container {
    width: 100%;
    padding:15px;
    border-collapse: collapse;
}

    .orders-container th,
    .orders-container td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .orders-container th {
        background-color:lightslategrey;
        font-weight: bold;
    }

    .orders-container tr:nth-child(even) {
        background-color: #f9f9f9;
    }

    .orders-container tr:hover {
        background-color: #e6e6e6;
    }

.order{
    display:block;
}