

.signup-form{
    display:flex;
    flex-direction:column;
    width:35%;
    height:auto;
    padding:1.5rem;
    align-self:center;
}

#chgUsrname{
    width:220px;
    margin-bottom:10px;
}

#chgPswd{
    width:220px;
}
.chgBtns{
    display:flex;
    width:600px;
    justify-content:space-between;
}
