* {
    padding: 0;
    margin: 0;
}

body{
    height:100%;
    min-width:1100px;
    width:100%;
    background-color:whitesmoke;
}

footer {
    height: 20px;
    background-color: lightskyblue;
    text-align: center;
    margin-top:auto;
    padding: 0.5rem;
    vertical-align: middle;
    border-top: 1px solid black;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

nav {
    display: inline-flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    background-color: darkslategray;
    box-shadow: rgba(0,0,0,0.45) 0px 5px 5px 0px;
    border-bottom: 1px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    justify-content: space-between;
    align-content: center;
    z-index:2;
}

.logo {
    width: 100px;
    font-size: 2rem;
    padding-top: 1rem;
    font-weight: 800;
    margin-left: 40px;
    text-align: center;
    align-items: center;
    vertical-align: middle;
}

    .logo a:hover {
        color: white;
        transition: color ease-out 0.25s;
    }

a {
    text-decoration: none;
    color: black;
}

.textbox {
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
    width: 100%;
    height: 40px;
}

.textarea {
    font-size: 1rem;
    padding: 0.25rem 0.75rem;
    border-radius: 10px;
    width: 100%;
    height: 150px;
}

label {
    padding: 0.25rem;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 4px;
}

button {
    width: 150px;
    height: 30px;
    border: 1px solid darkgreen;
    border-radius: 16px;
    font-size: 1.25rem;
    padding: 0.25rem;
}

.red-btn {
    background-color: #a50000;
    margin-top:10px;
}

    .red-btn:hover {
        background-color: red;
        color: white;
        transition: background-color ease-out 0.3s;
    }

.green-btn {
    background-color: forestgreen;
    margin-top:10px;
}

    .green-btn:hover {
        background-color: limegreen;
        color: white;
        transition: background-color ease-out 0.3s;
    }

.icon-btn {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-color: transparent;
    padding: 0px;
    border: none;
}

    .icon-btn:hover {
        color: red;
        transition: color ease-out 0.3s;
    }

.filter-button {
    width: auto;
    height: 2.5rem;
    background-color: darkslategray;
    margin: 15px 10px;
}

.nav-links li {
    margin-right: 40px;
    margin-top: 10px;
    display: inline-block;
    align-content: center;
    justify-content: space-evenly;
    padding-top: 10px;
}

.link-list a {
    padding: 8px;
    font-size: 1rem;
    font-weight: 700;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    background-color: forestgreen;
    color: black;
}

    .link-list a:hover {
        color: white;
        background-color: limegreen;
        transition: background-color ease-out 0.2s;
    }

.link-list {
    list-style: none;
    display: inline-block;
}

.dropdown {
    position: relative;
    margin-right: 40px;
}

.dropdown-content {
    display: none;
    position: absolute;
    border-radius: 10px;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
            border-radius: 10px;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.hide {
    display: none;
}

#logoutBtn {
    width: 80%;
    font-size: 1rem;
    display: block;
    margin: 15px;
}

#profile-name {
    font-size: 2rem;
    font-weight: 600;
    padding: 0.5rem;
    display: block;
}

    #profile-name:hover {
        color: white;
        transition: color ease-out 0.2s;
    }

.content {
    display: flex;
    width:80%;
    height:100%;
    background-color: whitesmoke;
    flex-direction: column;
    align-content:center;
    align-self:center;
    padding: 10px;
    margin:10px auto;
}

.red-text {
    color: red;
}

.green-text {
    color: darkgreen;
}

.unavailable {
    background-color: gray;
}

.api-error {
    width: 100%;
    height:100%;
    position: absolute;
    top:60px;
    left:0;
    display: block;
    z-index: 10;
    background-color: rgb(75 75 75 / 0.63);
    align-content: center;
    justify-content: center;
    vertical-align: middle;
}

.error-popup {
    width: 400px;
    height: 250px;
    font-size: 1.25rem;
    position: relative;
    top: 15%;
    left: 35%;
    background-color: darkslategray;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: 30px;
    text-align:center;
}

    .error-popup p {
        text-align: left;
    }

    .error-popup h1 {
        border-bottom: 1px solid black;
    }
    .error-popup button{
        align-self:center;
    }
